html, body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1.5rem;
}